.layers-selection-list.mdc-list-item {
  font-weight: bolder !important;
}

.mat-mdc-standard-chip {
  font-size: 12px;
}

.mat-mdc-chip-list .mat-mdc-chip {
  width: 100%;
  min-width: 0;
}

.layer-panel-subtitle {
  font-size: 14px;
  font-weight: 500;
}
