.swiper-slide {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  bottom: 10;
  position: relative;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
}

.swiper-button-prev {
  top: 81%;
  color: white;
  transform: scale(0.6);
  left: 25px;
}

.swiper-button-next {
  top: 81%;
  color: white;
  transform: scale(0.6);
  right: 25px;
}

span[class^='dot-'] {
  opacity: 0;
  margin: 0 0.125rem;
}

.dot-one {
  animation: dot-one 2s infinite linear;
}

.dot-two {
  animation: dot-two 2s infinite linear;
}

.dot-three {
  animation: dot-three 2s infinite linear;
}

@keyframes dot-one {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dot-two {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dot-three {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
