* {
  font-family: Aspekta, sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    p {
      margin-top: 12px;
    }
  }
}
