<div class="flex flex-col items-center !mt-4">
  <h1 class="!text-2xl !font-aspekta-semibold text-bgs-primary-earth text-center">
    Demonstration System
  </h1>
</div>
<div mat-dialog-content>
  <p class="text-base leading-normal">This is a prototype application for research and demonstration purposes only.
    Application data, text and images were included for very specific testing purposes and are not endorsed by the
    VENTURA team or stakeholders.</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button class="!rounded-none" mat-dialog-close>
    Close
  </button>
</div>
