<div class="p-[75px] h-full">
  <div class="flex flex-col items-center w-full">
    <div class="text-wrapper max-w-[1000px]">
      <p class="text-xl text-intro text-bgs-primary-stone">Greater Manchester Briefing Note</p>
      <h1 class="!text-5xl !font-aspekta-bold !mb-8 !leading-normal">
        VENTURA – virtual decision rooms for water neutral planning
      </h1>
      <p class="text-base text-bgs-mono-grey-4 accreditations font-aspekta-light">
        Ana Mijic¹, Darren Beriro², Carl Watson², Nici Zimmermann³, Eduardo Rico Carranza¹, Vladimir Krivstov¹, Barnaby
        Dobson¹, Koko Zhou³, Pepe Puchol-Salort¹, Jeni Giambona¹, Stanislava Boskovic, Irene Pluchinotta³, Paulius
        Tvaranavicius², Shwetha Raveendran²
      </p>
      <p class="text-base organisations text-bgs-mono-grey-4 font-aspekta-light">
        ¹Imperial College London, ²British Geological Survey, ³University College London
      </p>
      <p class="text-base contact text-bgs-mono-grey-4">
        Contact: <a href="mailto:darrenb@bgs.ac.uk" class="underline text-bgs-primary-earth">darrenb&#64;bgs.ac.uk</a>
      </p>

      <h4 class="!text-2xl !font-aspekta-semibold !mt-8">
        What is VENTURA?
      </h4>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        VENTURA is a 24-month applied research project that started in September 2021 focusing on study areas in Greater
        Manchester and Enfield, London. The project is funded by the Engineering and Physical Research Council as part
        of their <a href="https://www.ukri.org/opportunity/digital-economy-sustainable-digital-society/"
          class="underline text-bgs-primary-earth" target="_blank" rel="noopener noreferrer">Digital
          Economies: Sustainable Digital Societies¹ programme.</a> This Briefing Note covers work in Greater
        Manchester; a separate note has been produced for the Enfield study.
      </p>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        VENTURA is an interdisciplinary team of systems thinking and digital geoscience researchers from <a
          href="https://www.imperial.ac.uk/systems-engineering-innovation" class="underline text-bgs-primary-earth"
          target="_blank" rel="noopener noreferrer">Imperial
          College London (ICL)</a>, <a href="https://www.ucl.ac.uk/bartlett/architecture/"
          class="underline text-bgs-primary-earth" target="_blank" rel="noopener noreferrer">University College London
          (UCL)</a>,
        and <a href="https://www.bgs.ac.uk/geology-projects/digital-lab/" class="underline text-bgs-primary-earth"
          target="_blank" rel="noopener noreferrer">British Geological Survey (BGS).</a> The Greater
        Manchester study is supported by Greater Manchester Combined Authority (GMCA), United Utilities (UU) and the
        Environment Agency (EA), and focuses on the Upper Mersey Catchment. This group formed an integrated water
        management trilateral partnership prior to VENTURA in 2021². Their aim is to influence and deliver sustainable
        growth in Greater Manchester by improving flood risk resilience, enhancing the environment, driving circular
        economy approaches, and supporting regeneration.
      </p>

      <p class="text-sm text-bgs-mono-grey-4 accreditations font-aspekta-light">
        ¹https://www.bgs.ac.uk/news/bgs-collaborates-on-new-1-million-epsrc-funded-digital-research-project-to-help-make-urban-growth-more-sustainable/
      </p>

      <p class="text-sm text-bgs-mono-grey-4 accreditations font-aspekta-light">
        ²https://democracy.greatermanchester-ca.gov.uk/documents/s16654/MOU%20Partnership%20FRM%2024%20September.pdf
      </p>

      <h4 class="!text-2xl !font-aspekta-semibold !mt-8">
        Why is VENTURA important?
      </h4>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        VENTURA aims to produce a common interactive digital evidence base for future integrated water management
        planning. This will be based on an integrated water systems model coupled to an interactive user-friendly web
        interface, collectively called a Virtual Decision Room.
      </p>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        Water management is a systems-of-systems challenge encompassing water consumption, use, discharge, treatment and
        its return to water bodies – in each case, water, sewerage, and associated infrastructure affects societal
        adaptation and resilience to surface water flooding and water quality changes. The current policy space in the
        UK that is affecting future decisions is complex and involves a range of stakeholders and initiatives (Figure
        1).
      </p>

      <img src="assets/img/about/figure-1.png" alt="Figure 1" class="mt-4">
      <p class="text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">Figure 1 Overview of key plans and
        organisations in current UK
        water
        planning ³ ⁴
      </p>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        Decision making for water management is organisationally siloed with governance needing to accommodate many
        roles and responsibilities. This involves interacting within the same geographical area but working towards
        different investment incentives and metrics but ultimately accountable to government and the public. There are
        often tensions between different stakeholder requirements, especially around funding, regulations, policy,
        liability and organisational goals. At a VENTURA workshop Greater Manchester partners listed the influential
        stakeholders, including central Government, OfWat, water companies, local / regional planning authorities, Lead
        Local Flood Authorities, Environment Agency, NGOs, and the public (Figure 2).
      </p>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        Examples of current policy drivers affecting water management in Greater Manchester include:
      </p>
      <ul class="mb-4 list-disc list-inside">
        <li class="text-base text-bgs-mono-grey-4">Flood and coastal erosion risk management: an investment plan for
          2021 to 2027;</li>
        <li class="text-base text-bgs-mono-grey-4">Schedule 3 of the Flood and Water Management Act 2010, soon to
          mandate sustainable urban drainage (SuDS) for all new developments;</li>
        <li class="text-base text-bgs-mono-grey-4">Ofwat’s 2024 Price Review (PR24);
        </li>
        <li class="text-base text-bgs-mono-grey-4">Water Industry National Environment Programme</li>
        <li class="text-base text-bgs-mono-grey-4">Defra’s storm overflow consultation and action plan;</li>
        <li class="text-base text-bgs-mono-grey-4">Defra’s review of Local Flood Risk Strategies;</li>
        <li class="text-base text-bgs-mono-grey-4">North West Regional Flood and Coastal Committee (RFCC) Business Plan;
        </li>
        <li class="text-base text-bgs-mono-grey-4">A range of catchment scale strategic management plans;
        </li>
        <li class="text-base text-bgs-mono-grey-4">Reducing the risk of surface water flooding report by the National
          Infrastructure Commission; and
        </li>
        <li class="text-base text-bgs-mono-grey-4">GM Integrated Water Management Plan.</li>
      </ul>

      <p class="text-sm text-bgs-mono-grey-4 accreditations font-aspekta-light">
        ³Mijic, A., Bromwich, B., Crilly, D., Dobson, B., Forrow, D., Giambona, J., Kirk, S., Liu, L. and MacDonald, R.
        2022. Systems Approach to Regional Water Planning, Centre for Systems Engineering and Innovation, Working Paper
        Series, No. 1
      </p>

      <div class="flex items-start justify-between w-full mt-8">
        <div class="w-1/4">
          <img src="assets/img/about/figure-2.jpg" alt="Figure 2">
          <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">Figure 2 Stakeholder mapping with
            GM
            trilateral team in March 2022
          </p>
        </div>
        <div class="w-3/4">
          <p class="pl-4 text-base text-bgs-mono-grey-4">
            There is currently no common digital evidence base (data, models, polices) for integrated water management
            decision making in Greater Manchester, or to our knowledge in the UK. This means there is no shared baseline
            and no overarching desired outcome for the main organisations (water companies/EA/Local Government) to
            coalesce around and work towards. The current approach is for the different stakeholders to produce evidence
            and then a plan in isolation followed by consultation. This means there are many plans, rather than a single
            shared vision for specific places or catchments. Work is currently in progress in Greater Manchester to
            develop one of the UK’s first Integrated Management Plan.
          </p>
        </div>
      </div>
      <div class="flex items-start justify-between w-full mt-8">
        <div class="w-1/4">
          <img src="assets/img/about/figure-3.jpg" alt="Figure 3">
          <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">Figure 3 Empathy mapping
          </p>
        </div>
        <div class="w-3/4">
          <h5 class="pl-4 !text-xl !font-aspekta-semibold">
            Greater Manchester Challenges
          </h5>
          <p class="pl-4 text-base text-bgs-mono-grey-4">
            The academic and Greater Manchester trilateral teams used workshops and discussions to understand which
            challenges were of mutual importance for VENTURA.
          </p>

          <p class="pl-4 text-base text-bgs-mono-grey-4">
            It was decided that the geographical focus of the research should be the Upper Mersey catchment (Figure 4).
            This area was chosen because it is located mainly in Greater Manchester, has large urban and rural
            components, and is host to a range of flooding and growth challenges that are relevant for each partner.
          </p>

          <p class="pl-4 text-base text-bgs-mono-grey-4">
            During the engagement activities a series of empathy maps for each of the stakeholders were produced (Figure
            3). Using these, we collectively drafted long-term visions for the research from each perspective; these
            were then refined and combined over the course of several weeks after the initial design sprint meeting and
            used to create a shared vision (Table 1).
          </p>
        </div>
      </div>

      <table class="w-full mt-8 table-fixed !font-aspekta">
        <thead class="!bg-gray-200">
          <tr>
            <th class="px-6 py-3 text-base font-aspekta-semibold">GMCA Vision</th>
            <th class="px-6 py-3 text-base font-aspekta-semibold">UU Vision</th>
            <th class="px-6 py-3 text-base font-aspekta-semibold">EA Vision</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-6 py-4 text-sm text-center text-bgs-mono-grey-4">
              “Demonstrate with evidence how our ‘Places for Everyone’ spatial
              framework is water neutral over the
              life of the plan (present-2037)”
            </td>
            <td class="px-6 py-4 text-sm text-center text-bgs-mono-grey-4">
              “Ensure all new developments (or off-setting from retrofits)
              contribute no new surface water to sewers,
              over fifty years, including potential impacts from climate change.”
            </td>
            <td class="px-6 py-4 text-sm text-center text-bgs-mono-grey-4">
              “Avoid any increase in downstream flood risk as a
              result of new developments (or off-setting from
              retrofits) and ensure that all developments achieve green field rates of run off”
            </td>
          </tr>
        </tbody>
      </table>
      <table class="w-full table-fixed !font-aspekta">
        <thead class="!bg-gray-200">
          <tr>
            <th class="px-6 py-3 text-base font-aspekta-semibold">Shared Vision</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-6 py-4 text-sm text-center text-bgs-mono-grey-4">
              “To be water neutral by 2050 despite
              population growth, changes in climate and user behaviour”
            </td>
          </tr>
        </tbody>
      </table>
      <p class="text-base !mt-8 text-bgs-mono-grey-4">
        In scientific literature, water neutrality is defined as an avoidance of net gain in the water flow and net
        reduction in water quality, e.g. nitrates and phosphates, reaching water bodies at both catchment and
        sub-catchment scales⁶. This is important to the trilateral group because climate change and growth scenarios
        are
        both expected to increase the pressures on water systems in Greater Manchester. This is because increases in
        water flows within catchments can exceed the capacity of the sewerage infrastructure, leading to an increased
        risk of surface water flooding and impacts on in-river water quality.
      </p>

      <p class="text-sm text-bgs-mono-grey-4 accreditations font-aspekta-light">
        ⁶Puchol-Salort et al (2022). Water neutrality framework for systemic design of new urban developments.
        https://doi.org/10.1016/j.watres.2022.118583
      </p>

      <div>
        <img src="assets/img/about/figure-4.png" alt="Figure 4" class="mt-4">
        <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">
          Figure 4 Upper Mersey catchment and 45 sub-catchments derived from topographic data for the purpose of the
          VENTURA project. Contains Google Maps data © Google.
        </p>
      </div>

      <p class="text-base text-bgs-mono-grey-4">
        The scale of this challenge means mitigation, adaptation and resilience will require new policies, collaborative
        working, shared evidence, and funding for existing planned and urban infrastructure.
      </p>

      <h4 class="!text-2xl !font-aspekta-semibold !mt-8">
        How will VENTURA help?
      </h4>

      <p class="text-base !mt-8 text-bgs-mono-grey-4">There are four parts to the VENTURA methodology:</p>
      <ul class="list-decimal list-inside">
        <li class="text-base text-bgs-mono-grey-4">
          A participatory system dynamics model of water neutrality concepts and decisions;
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          An integrated water system model which summarises water inputs and outputs within the Upper Mersey
          catchment;
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          A web-based user interface called a Virtual Decision Room; and
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          A Blueprint of the research process and findings.
        </li>
      </ul>

      <h5 class="!text-xl !font-aspekta-semibold !mt-4">
        Participatory systems dynamics (PSD)
      </h5>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        PSD was used to understand and articulate the organisational goals and governance-controls on achieving water
        neutrality in the Upper Mersey catchment. The PSD model was framed by three components: the problem/goal
        identification, participatory mapping with the GMCA, EA and UU, and model comparison and integration. We have
        identified the three core stakeholder group perceptions by colour-coding the themes they consider important,
        allowing for quick comparison between them, through which an initial systems structure was developed (Figure 5).
      </p>

      <img src="assets/img/about/figure-5.png" alt="Figure 5" class="mt-4">
      <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">
        Figure 5 Diagrams summarising the links between a range of variables affecting partner organisation’s
        understanding of water neutrality and its governance (text not intended to be readable). Image &copy; University
        College London 2024.
      </p>

      <p class="text-base text-bgs-mono-grey-4">
        Collaborative workshops were conducted in September 2022, where stakeholder perspectives have been mapped as a
        Causal Loop Diagram (CLD) (Figure 6). Relationships between variables affecting water neutrality decision making
        were explored in real-time to assess the effects of empowering and enhancing knowledge exchange between
        decision-makers. The CLD shows the complexity of managing the infrastructure and water system in the context of
        the emerging concept of water neutrality and potential future polices. Planned future work includes follow-up
        interviews with stakeholders with planning system perspectives to validate the PSD model to explore how
        governance scenarios might be reflected in the VDR and used as a decision support tool.
      </p>

      <img src="assets/img/about/figure-6.png" alt="Figure 6" class="mt-4">
      <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">
        Figure 6 Simplified CLD. Full report is available on
        https://www.imperial.ac.uk/media/images/non-standard-dimensions/Manchester-Pre-showcase-report.pdf. Image &copy;
        University College London 2024.
      </p>

      <p class="text-base text-bgs-mono-grey-4">
        The CLD shows that the system failures drive the decision-making in mitigating systems risks, which indicates
        that the decision-making is primarily dominated by a response-mode rather than proactive-mode. Funding and
        actions to mitigate against climate change are critical to trigger integrated management and governance in water
        neutrality. Investments in the lifelong management of assets are key outputs from the funding changes.
        Integrated water management involves working across catchment boundaries, administration boundaries, and also
        the impacts of different time scales, which indicates that the integrated approach to water neutrality needs to
        consider both temporal and place-based dimensions in water systems.
      </p>

      <h5 class="!text-xl !font-aspekta-semibold !mt-4">
        Water Systems Integrated Model (WSIMod)
      </h5>

      <p class="text-base text-bgs-mono-grey-4">
        WSIMod is an open source systems model that creates simultaneous estimates of the volumes and quality of water
        discharges to sewerage infrastructure and natural watercourses. The model currently uses open datasets for the
        development of a prototype. These are OS open data sources for levels (used to derive subcatchments), land use
        and population (used to estimate population and demands) and land cover (used for runoff coefficient). The
        complexity and detail of WSIMOD can be tailored depending on the availability and accessibility of datasets used
        to develop it. A summary of the WSIMOD framework is presented in Figure 7.
      </p>

      <p class="text-base text-bgs-mono-grey-4">
        WSIMod breaks down the hydraulic system into topographically defined sub-catchments interconnected through a
        graph structure known as arcs. It then carries out water and nutrient pollutant balances on a time-step basis
        and evaluates final flows and pollutant loads at each connection for the entire duration of the simulation,
        which can range from days to years. The modelling software has been developed using the Python programming
        language.
      </p>

      <p class="text-base text-bgs-mono-grey-4">
        For Greater Manchester, the model is built using 45 subcatchments which comprise the Upper Mersey catchment
        (Figure 7: right). It produces downstream outlet flows and water quality indicators for each catchment for the
        variables shown in (Figure 7: left). The model estimates these values for the current situation and user defined
        scenarios. For these future scenarios, the model assumes increased rainfall using published guidance and
        increased population based on targets set by GMCA in their Places for Everyone spatial development strategy.
        These scenarios are evaluated for business-as-usual case i.e. no improvements to the system, as well as options
        where the VDR user proposes improvements at the sub-catchment level (Figure 7).
      </p>

      <img src="assets/img/about/figure-7.jpg" alt="Figure 7" class="mt-4">
      <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">
        Figure 7: Summary of the WSIMOD modelling framework. WRZ=Water Resources Zone. Contains OS data © Crown
        copyright and database rights. Image &copy; Imperial College London 2024.
      </p>

      <h5 class="!text-xl !font-aspekta-semibold !mt-4">
        Virtual Decision Room (VDR)
      </h5>

      <p class="text-base text-bgs-mono-grey-4">
        In Spring 2023, VENTURA produced a high-fidelity live data prototype Virtual Decision Room (VDR). The VDR is
        coupled to WSIMod via an application programming interface (API), which allows the two to communicate. It was
        designed for the trilateral group to explore ‘what-if’ growth and climate change scenarios in the Upper Mersey
        catchment. Climate impacts can be ‘offset’ using variables built into the VDR and linked back to WSIMod.
      </p>

      <p class="text-base text-bgs-mono-grey-4">
        The three variables that can be altered for both new build and retrofit development areas in the VDR are:
      </p>

      <ul class="list-decimal list-inside">
        <li class="text-base text-bgs-mono-grey-4">
          Water demand per household (litres per person per day);
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          Surface water run-off (m3/day) as a function of the area of permeable surfaces; and
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          Attenuation (m3/day) by sustainable drainage system (SuDS).
        </li>
      </ul>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        WSIMod feeds almost real-time outputs of the underpinning model to the VDR via the API. These results are
        presented live to users for fixed population and climate change forecasts, each of which have been defined by
        ICL’s water system experts. WSIMod produces two main outputs for the 45 sub-catchments in the Upper Mersey:
      </p>

      <ul class="list-decimal list-inside">
        <li class="text-base text-bgs-mono-grey-4">
          Water flow (m3/day); and
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          Water quality (mg/L for nitrates and phosphates)
        </li>
      </ul>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        The VDR includes user friendly controls to alter these variables with summary plots and data on the effects of
        change each or all of the parameters. The variable selections made in the VDR are sent to WSIMod and results
        returned for presentation in the VDR in almost real-time. A prototype of the web interface for the VDR has been
        created (Figure 8).
      </p>

      <img src="assets/img/about/figure-8.png" alt="Figure 8" class="mt-4">

      <p class="!mt-2 text-sm text-bgs-mono-grey-4 img-caption font-aspekta-light">
        Figure 8 Example screenshot from the
        VDR showing some key functions
      </p>

      <p class="text-base text-bgs-mono-grey-4 !mt-8">
        Examples of ‘what-if’ scenarios that might be explored in the VDR:
      </p>

      <ul class="pl-4 list-inside list-unstyled">
        <li class="mb-2 text-base font-aspekta-light text-bgs-mono-grey-4">“What happens if we attenuate all the extra
          water
          consumed and
          discharged by full build out of the Places
          for Everyone homes in existing developed parts of the Upper Mersey e.g. through retrofit SuDS?”
        </li>
        <li class="mb-2 text-base font-aspekta-light text-bgs-mono-grey-4">
          “What happens to river flows if we build out homes in line with Places for Everyone without any mitigation?”
        </li>
        <li class="mb-2 text-base font-aspekta-light text-bgs-mono-grey-4">
          “What happens to river flows in selected catchments if we reduced the daily water consumption rate from 110 L/
          person to 80 L/ person and increase the permeable area by 50%? What effect does this have in different
          sub-catchments and in the overall catchment?”
        </li>
      </ul>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        Being able to experiment with the effect of consumption, area of permeable surfaces and attenuation by SuDS for
        new build and retrofit in the VDR is expected to help users to understand what combination of policy-based
        interventions might be required to move towards water neutrality in the Upper Mersey.
      </p>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        The VDR will be tested and used by the trilateral group later in 2023. The use cases for testing will be
        determined collaboratively and will be informed by the trilateral vision, the results of the PSD and the
        functionality of WSIMod and the VDR.
      </p>

      <h5 class="!text-xl !font-aspekta-semibold !mt-4">
        Expected outcomes and impacts of VENTURA
      </h5>

      <p class="text-base text-bgs-mono-grey-4 !mt-4">
        VENTURA will help to demonstrate how an interdisciplinary approach to future water management decision making
        might be achieved by developing an integrated water systems model and a system dynamics model coupled to a novel
        virtual decision room. This will create a unique understanding of how current and future catchment and
        sub-catchment decision making could be approached using user-led digital tools including:
      </p>

      <ul class="pl-4 list-disc list-inside">
        <li class="mb-2 text-base text-bgs-mono-grey-4">
          An open-source integrated water systems
          model to quantify how water neutrality might be achieved in the Upper Mersey 2025 through a combination of new
          build and retro fit interventions including water consumption, attenuation and run-off for forecast climate
          change and population assumptions;
        </li>
        <li class="mb-2 text-base text-bgs-mono-grey-4">
          A systems dynamics model which will describe the factors involved in governance and decision making as well as
          how these interact;
        </li>
        <li class="mb-2 text-base text-bgs-mono-grey-4">
          A new prototype digital service called a Virtual Decision Room where the water systems model and systems
          dynamic model will be coupled virtually, and mechanisms for achieving water neutrality explored and
          documented; and
        </li>
        <li class="mb-2 text-base text-bgs-mono-grey-4">
          A VENTURA blueprint document illustrating the process, methods, results and findings of the project partners
          and wider networks use to inform the development of shared digital solutions and new ways of working to
          achieve sustainable water management. The document is likely to include a bespoke section for both Greater
          Manchester and Enfield of take-home points and lessons learned.
        </li>
      </ul>

      <h5 class="!text-xl !font-aspekta-semibold !mt-8">
        Acknowledgements
      </h5>

      <p class="text-lg text-bgs-mono-black !mt-4">
        Partners
      </p>
      <ul class="list-disc list-inside">
        <li class="text-base text-bgs-mono-grey-4">Imperial College London (ICL)</li>
        <li class="text-base text-bgs-mono-grey-4">University College London (UCL)</li>
        <li class="text-base text-bgs-mono-grey-4">British Geological Survey (BGS)</li>
        <li class="text-base text-bgs-mono-grey-4">Greater Manchester Combined Authority (GMCA)</li>
        <li class="text-base text-bgs-mono-grey-4">United Utilities (UU)</li>
        <li class="text-base text-bgs-mono-grey-4">Environment Agency (EA)</li>
      </ul>

      <p class="text-lg text-bgs-mono-black !mt-4">
        Datasets
      </p>
      <ul class="list-disc list-inside">
        <li class="text-base text-bgs-mono-grey-4">
          WFD River Waterbody Catchments Cycle 2 - © Environment Agency
          copyright and/or database right 2015. All rights reserved
          <span class="underline text-bgs-primary-earth">
            <a
              href="https://www.data.gov.uk/dataset/298258ee-c4a0-4505-a3b5-0e6585ecfdb2/wfd-river-waterbody-catchments-cycle-2">
              Link
            </a>
          </span>
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          OS Open Rivers - OS data © Crown copyright and database right 2024, Open Government Licence v3.0.
          <span class="underline text-bgs-primary-earth">
            <a href="https://www.arcgis.com/home/item.html?id=6048e8a5e29b49b093e79f08c732f109">
              Link
            </a>
          </span>
        </li>
        <li class="text-base text-bgs-mono-grey-4">
          Local Planning Authorities - Office for National Statistics licensed under the Open Government Licence v.3.0
          <span class="underline text-bgs-primary-earth">
            <a href="https://www.arcgis.com/home/item.html?id=4bc5a98dda0c410b9f2f0caaed64b220">
              Link
            </a>
          </span>
        </li>
      </ul>

      <p class="text-lg text-bgs-mono-black !mt-4">
        Assets
      </p>
      <ul class="list-disc list-inside">
        <li class="text-base text-bgs-mono-grey-4">
          Aspekta Font
          <span class="underline text-bgs-primary-earth">
            <a href="https://github.com/ivodolenc/aspekta">
              Link
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
