// tbc
app-form-errors {
  display: block;
}

.edit-form {
  .mat-mdc-cell {
    font-family: 'Aspekta SemiBold', sans-serif !important;
  }

  .mat-mdc-header-cell {
    font-family: 'Aspekta Bold', sans-serif !important;
  }
}
