<div *ngIf="dataSource.length > 0">
  <p class="!mb-8 text-lg text-bgs-mono-grey-4">
    Changes made to subcatchments
  </p>
  <div class="flex justify-end w-full">
    <div class="flex w-4/5">
      <div class="flex justify-center w-1/2 text-lg border text-bgs-primary-earth border-bgs-primary-earth">
        New Developments
      </div>
      <div class="flex justify-center w-1/2 text-lg text-white bg-bgs-primary-earth">
        Retrofit
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="groupId">
      <mat-header-cell *matHeaderCellDef>
        Group ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.groupId }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rcForNewDevelopment">
      <mat-header-cell *matHeaderCellDef>
        SUDS Coefficient
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.rcForNewDevelopment }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="waterDemandForNewDevelopment">
      <mat-header-cell *matHeaderCellDef>
        Water Demand
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.waterDemandForNewDevelopment }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="retrofitRC">
      <mat-header-cell *matHeaderCellDef>
        SUDS Coefficient
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.retrofitRC }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="retrofitWaterDemand">
      <mat-header-cell *matHeaderCellDef>
        Water Demand
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.retrofitWaterDemand }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
<div class="w-full" *ngIf="dataSource.length === 0">
  <p class="text-lg text-bgs-mono-grey-4">
    No catchment groups created yet.
  </p>
</div>
