@import './scss/register';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import './scss/colours';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-x: hidden;
}

// Fix issue with Tailwind and Material theme creating weird border on inputs
.mat-mdc-form-field {
  &.mat-mdc-form-field {
    &.mat-mdc-form-field {
      &.mat-mdc-form-field {
        &.mat-mdc-form-field {
          /* stylelint-disable-next-line selector-class-pattern */
          .mdc-notched-outline__notch {
            border-right-style: hidden;
          }
        }
      }
    }
  }
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.mat-mdc-tab-body-wrapper {
  height: 100% !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.mdc-list-item--with-leading-radio .mdc-list-item__start {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: bisque !important;
}

.mat-button-toggle-appearance-standard {
  &.mat-button-toggle-checked {
    background-color: $bgs-primary-earth !important;
    color: #fff !important;
  }
}

.tile-layer {
  filter: grayscale(80%);
}
