.popup-subcatchment {
  font-family: Aspekta, sans-serif;

  p {
    &.title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }

    &.desc {
      margin-top: 0.5rem;
    }
  }
}
